title {
    font-family: "Montserrat", sans-serif;
    color: black;
    background-color: antiquewhite;
    margin: auto;
    padding: 1em;
    font-size: larger;
}
body {
    font-family: "Poppins", sans-serif;
    background-color: black;
    text-align: center;
    color: white;
}
p {
    font-family: "Roboto", sans-serif;
}
h1 {
    font-family: "Montserrat", sans-serif;
    color: white;
    margin-top: 1em;
    font-size: 2em;
}
nav {
    font-family: "Montserrat", sans-serif;
    justify-content: center;
    display: flex;
    background-color: paleturquoise;
    color: blue;
    padding: 1em;
}
nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
    justify-content: space-between;
}
nav ul li {
    display: inline;
    margin-right: 1em;
}
nav ul li a {
    color: blue;
    text-decoration: none;  
}
nav ul li a:hover {
    text-decoration: underline;
}
footer {
    color: black;
    text-align: center;
    padding: 1em;
    margin-top: 1.5em;
    background-color: paleturquoise;
}
input {
  width: 50%;
  max-width: 400px;
  padding: 1em;
  margin: 1rem auto;
  display: block;
  border: 1px solid #ccc;
  border-radius: 1em;
  margin-bottom: 1em;
  outline: none;
}
input:focus {
  border-color: blue;
}
#loading {
  margin-bottom: 1em;
  color: black;
}
#countries {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 220px));
    gap: 1em;
    justify-content: center;
}
#countries div {
  background: white;
  padding: 1em;
  border-radius: 1em;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.08);
  transition: 0.2s;
  color: black;
}
#countries div:hover {
  transform: translateY(-5px);
}
#countries img {
    width: 100%;
    height: auto;
    object-fit: cover;
}
#countries div {
  max-width: 220px;
  margin: auto;
}
#details {
  margin: 20px auto;
  padding: 15px;
  max-width: 350px;
  background: black;
  color: white;
  border-radius: 10px;
}
@media (max-width: 600px) {
}
@media (max-width: 900px) {
}